body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
#cabecera{
    padding: 10px;
    height: 50px;
    background-color: papayawhip;
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 30px;
}
#cabecera #tagline{
    padding-left: 20px;
    font-weight: none;
    font-size: 20px;
}
#container{
    width: 100%;
    width: 70%;
    border: 1px solid brown;
    border-radius: 40px 40px 0 0 ;
    margin: 0 auto;
}
#post{
    padding: 1em;
}