body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#post{
    width: 70%;
    border: 1px solid brown;
    padding: 1em;
}